sugar.pro.user

*.o

src/parser/parser.cpp
src/parser/parser.hpp
src/parser/parser.dot
src/parser/parser.output
src/parser/parser.ps
src/parser/outfile.ps

src/parser/lexer.inter.hpp
src/parser/lexer.batch.hpp
src/parser/lexer.h

sugar
sugari
sugarc

test/results

example2.txt
